@use 'fonts';

$bg-color: #fefee3;
body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: $bg-color;
}
    
  .nav {
    overflow: hidden;
    background-color: #ffc9b9;
    border-radius: 4px;
    &__item {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }  
}

  
  
  
  .nav a:hover {
    font-weight: 700;
  }
  .nav__icon:hover {
    scale: 1.2;
  }
  
  .nav a.active {
    background-color: #52B788;
    color: white;
  }
  
  .nav .nav__icon {
    display: none;
  }
  
  @media screen and (max-width: 700px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.nav__icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .nav.responsive {position: relative;}
    .nav.responsive .nav__icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  
  .main__info {
    padding-left: 15px;
  }  