@use 'fonts';

$bg-color: #fefee3;
body {
    background-color: $bg-color;
}    
.nav {
    overflow: hidden;
    background-color: #ffc9b9;
    border-radius: 4px;
    margin-bottom: 20px;
        &__item {
            float: left;
            display: block;
            text-align: center;
            padding: 20px 20px;
            text-decoration: none;
        }
        &__item:hover {
            font-weight: 700;
            background-color: #d68c45;
        }
        &__icon {
            padding: 10px;
        }
        &__icon:hover {
            scale: 1.2;
        }
        &__home {
            background-color: #d68c45;
        }   
}
.nav .nav__icon {
    display: none;
  }
.main {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    &__title {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
    }
    &__info {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 5px;
    }    
    &__gif {
            max-width: 80%;
            margin: 10px;
            border-radius: 4px;
            opacity: 0;
        }
    &__gif:hover {
        opacity: 100;
        transition: 3s 0.5s;
    }
} 
  @media screen and (max-width: 700px) {
    .nav a:not(:first-child) {display: none;}
    .nav a.nav__icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 700px) {
    .nav.responsive {position: relative;}
    .nav.responsive .nav__icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }
  